# Ignore ALL .env files in any directory
.env
*.env
**/.env
**/.env.*
.key

# Virtual environments
venv/
env/
.venv/
.expo/
node_modules/
dist/
backend/chroma_storage/
__pycache__/

Dockerfile
docker-compose.yml
